<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="user" type="com.ssm.vo.User" />
	</typeAliases>

	<mappers>
		<mapper class="com.ssm.vo.UserMapper" />
	</mappers>
</configuration>
